	# for(entry in crud.searchMap){ #
			<div class="form-group">
			#if (entry.value.formType=="INPUT") {#
				# if (entry.value.inputType=='TEXT') { #
					<input class="form-control" type="text" name="attr.@{entry.value.key}" value="${attr.@{entry.value.key}!''}" 
						placeholder="请输入@{entry.value.name}" @{entry.value.formTypeVaild } />
				# } else if (entry.value.inputType=='RADIO') { #
					<select name="attr.@{entry.value.key}" class="form-control" >
					<option value="-1">--请选择--</option>
					<% var @{entry.value.key}_data = '@{entry.value.formTypeData}'; %>
					${flyfox.sel(@{entry.value.key}_data,attr.@{entry.value.key}!'')  }
					</select>
				# } else if (entry.value.inputType=='CHECKBOX') { #
					<% var @{entry.value.key}_data = '@{entry.value.formTypeData}'; %>
					<select name="attr.@{entry.value.key}" class="form-control" >
					<option value="-1">--请选择--</option>
					${flyfox.sel(@{entry.value.key}_data,attr.@{entry.value.key}!'')  }
					</select>
				# } else { #
					<input class="form-control" type="@{entry.value.inputType}" name="attr.@{entry.value.key}" value="${attr.@{entry.value.key}}"
						placeholder="请输入@{entry.value.name}" @{entry.value.formTypeVaild } />
				# } #
			# } else if (entry.value.formType=='TEXTAREA') { #
				<input class="form-control" type="text" name="attr.@{entry.value.key}" value="${attr.@{entry.value.key}!''}"
					placeholder="请输入@{entry.value.name}" @{entry.value.formTypeVaild } />
			# }  else if (entry.value.formType=='DICT') { #
				<select name="attr.@{entry.value.key}" class="form-control" >
				<option value="-1">--请选择--</option>
				${flyfox.dictSelect('@{entry.value.formTypeData}' , attr.@{entry.value.key}!'')  }
				</select>
			# }  else if (entry.value.formType=='SELECT') { #
				<% var @{entry.value.key}_data = '@{entry.value.formTypeData}'; %>
				<select name="attr.@{entry.value.key}" class="form-control" >
				<option value="-1">--请选择--</option>
				${flyfox.sel(@{entry.value.key}_data,attr.@{entry.value.key}!'')  }
				</select>
			# }#
			</div>
	# }#